html
{
    box-sizing: border-box;
}
*,
*::before,
*::after {
          box-sizing: inherit;
}
body
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: 400;

    color: #fff;
    background: #849d8f;
}
a
{
    text-decoration: none;

    color: #fff;
}
strong
{
    font-size: 18px;
    font-weight: 700;
}
p
{
    margin: 0;
    padding: 0;
}
h2
{
    font-size: 35px;

    margin: 0;
    padding: 0;
}
.btn
{
    font-size: 15px;
    font-weight: 700;
    line-height: 1.4;

    display: inline-block;
    overflow: hidden;

    min-height: 35px;
    margin: 0;
    padding: 8px 30px;

    text-align: center;
    vertical-align: top;
    text-decoration: none;

    color: #fff;
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: #e74a35;
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, .64);
}
.btn:hover
{
    background-image: linear-gradient(to top, #ec6f5e, #f58669);
    box-shadow: 0 2px 2px 0 #ac1000;
}
.btn:active
{
    background-image: linear-gradient(to top, #e1613e, #d74632);
    box-shadow: inset 0 2px 2px 0 #942718;
}
.btn-login
{
    width: 100px;
    padding: 8px 10px;
}
.btn-basket
{
    padding: 0 22px;
}
.btn-slider
{
    font-size: 32px;

    padding: 16px 40px 16px 40px;
    bottom: 37px;
    left: 50%;
    border-radius: 40px;

    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
}
.btn-banner
{
  font-size: 18px;
  position: absolute;
  right: 21px;
  bottom: 26px;
}
.btn-subscribe
{
    font-size: 18px;

    margin-left: 10px;
    padding: 10px 21px;
}
.btn-contact
{
  font-size: 18px;
  margin-top: 15px;
  padding: 10px 17px;
}
.wrapper
{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    /*padding-right: 2.3%;
    padding-left: 2.3%;*/
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.logo
{
    position: relative;

    display: block;
    float: left;

    width: 153px;
    margin-top: 10px;
    margin-right: 9px;
}
.main-nav
{
    float: left;

    margin-top: 23px;
}
.main-nav>ul
{
    font-size: 0;
    padding: 0;
    font-weight: 700;
}
.main-nav li
{
    position: relative;

    display: inline-block;

    text-decoration: underline;
}
.main-nav a
{
    display: block;

    padding: 8px 13px 10px 14px;

    font-size: 16px;
}
.main-nav li:hover
{
    height: 32px;

    text-decoration: none;

    border-radius: 30px;
    background-color: #f7f6f3;
}
.main-nav li:hover>a {
    color: #000;
    text-decoration: none;
}
.main-nav li:hover .main-nav-sub {
    display:block;
}
.main-nav ul > li > a:hover
{
    color: #343434;
}
.main-nav .main-nav-catalog-active {
background-color: #d07058;
border-radius: 30px;
cursor: default;
color:white;
text-decoration: none;
line-height: 1;
}
.main-nav .main-nav-active {
background-color: #d07058;
color: white;
}
.main-nav-sub
{
    font-weight: 400;

    position: absolute;
    z-index: 2;

    width: 143px;
    padding: 5px 0px 5px 0px;

    border-radius: 5px;
    background-color: #f8f7f4;
    display:none;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
.main-nav-sub a
{
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
        color: #343434;
}
.main-nav-sub li
{
    text-decoration: none;
    display: block;
}
.main-nav-sub li:first-child
{
    margin-bottom: 10px;
}

.main-nav-sub li:first-child::after
{
  position: absolute;
    bottom: -6px;
    left: 4%;
    content: '';
    width: 90%;
    height: 1px;
    background: #000;
    background-color: rgba(0,0,0,.2);

}
.main-nav-sub li:hover
{
    width: 100%;
    height: auto;

    border-radius: 0px;
    background-color: #fbded8;
}
.main-nav-sub li:active
{
    width: 100%;
    height: auto;

    border-radius: 0px;
    background-color: #f6b5a5;
}
.main-nav-sub-new
{
    font-weight: 700;
}
.main-nav-sub-active {
  width: 100%;
  height: auto;

  color: white;
  border-radius: 0px;
  background-color: #d07058;
}
.page-header-user
{
    float: right;
}
.page-header-user-item
{

    position: relative;

    float: left;

    margin-top: 23px;

}
.page-header-user:not(:last-of-type)
{
    margin-right: 10px;
}
.form
{
    position: absolute;
    z-index: 1;
    right: 0;
    top: 36px;
    display: none;
    padding: 20px 15px 20px 15px;

    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}
.page-header-user-item:hover .form
{
    display:block;
}
.btn-form-search:hover
{
    background: white url('../img/sprite.png') no-repeat -4px -318px;
}
.page-header-search-form input
{
    position: relative;

    width: 312px;
    height: 39px;
    padding: 0 11px;

    text-overflow: ellipsis;

    color: #353535;
    border: none;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    outline: none;
}
.page-header-login-form
{
    width: 272px;
    min-height: 175px;
    padding: 15px;
}
.page-header-login-form input[type='email'],
.page-header-login-form input[type='password']
{
    font-size: 14px;
    line-height: 2.3;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-left: 15px;

    border: 1px solid rgba(178, 178, 178, .5);
    border-radius: 5px;
    outline: none;
}
.page-header-login-form a
{
    font-size: 13px;
    text-decoration: underline;

    color: #000;
}
.btn-login
{
    float: left;
    margin-right: 20px;
}
.btn-form-login
{
    font-size: 14px;

    display: block;

    margin-right: 10px;
    margin-left: 10px;
    padding: 7px 17px 7px 43px;

    border-radius: 30px;
    background: rgba(255, 255, 255, .2) url('../img/sprite.png') no-repeat 5px -191px;
}
.btn-form-login:hover
{
  color: #323232;
  background: white url('../img/sprite.png') no-repeat 5px -225px;
}
.page-header-info
{
    font-size: 14px;

    display: block;
    margin-top: 75px;

    text-align: right;
}
.page-header-info strong
{
    font-size: 22px;
}
.btn-form-search
{
    font-size: 0;

    display: block;

    width: 32px;
    height: 32px;

    border-radius: 30px;
    background: rgba(255, 255, 255, .2) url('../img/sprite.png') no-repeat -4px -286px;
}
.btn-form-login
{
    font-size: 14px;

    display: block;

    margin-right: 10px;
    margin-left: 10px;
    padding: 7px 17px 7px 43px;

    border-radius: 30px;
    background: rgba(255, 255, 255, .2) url('../img/sprite.png') no-repeat 5px -191px;
}
.btn-form-basket
{
    font-size: 14px;
    font-weight: 400;

    display: block;

    padding: 7px 34px 7px 45px;

    border-radius: 30px;
    background: rgba(255, 255, 255, .2) url('../img/sprite.png') no-repeat 5px -382px;
}
.btn-form-basket:hover
{
    color: #323232;
    background: white url('../img/sprite.png') no-repeat 5px -416px;
}
.page-header-basket-form
{
    width: 540px;
    padding: 15px;
    color: black;
    text-align: right;
}
.basket-table
{
    font-size: 13px;

    text-align: left;

    color: #333;

    margin-bottom: 5px;
}
.basket-table::after {
    content: '';
    position: absolute;

    width: 90%;
    height: 1px;
    background-color: #cacac7;
}
.basket-table-cell
{
    padding: 12px 5px;
}
.basket-table-cell:nth-child(1)
{
    padding-left: 2px;
}
.basket-table-cell:nth-child(2)
{
    position: relative;
    padding-left: 46px;
}
.basket-table-cell:nth-child(3)
{
    width: 120px;
    text-align: center;
}
.basket-table-cell:nth-child(4)
{
    width: 83px;
    text-align: center;
}
.basket-table-link
{
    display: inline;

    color: #333;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    border-bottom: none;
}
.basket-table-link:hover,
.basket-table-link:active
{
    color: #ec593c;
    border-bottom: 1px solid rgba(236, 89, 60, .3);
}
.btn-delete {
    display: block;
    position: relative;
    width: 15px;
    height: 15px;
    font-size: 0;
    background: 0 0;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.btn-delete::before {
    transform: rotate(45deg);
}
.btn-delete::after {
    transform: rotate(-45deg);
}
.btn-delete::after, .btn-delete::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 14px;
    height: 1px;
    background-color: #000;
}
.basket-img
{
    position: absolute;
    left: 0;
}
.basket-item-price
{
    color: #7f7f7f;
}
.basket-bill
{
    font-size: 15px;
    font-weight: 700;

    margin-right: 11px;
    margin-bottom: 12px;
}
.page-slider-wrapper {
  background: #849d8f;
}
.cart-field-price
{
    font-size: 15px;
}
.filter-item
{
    display: inline-block;

    border: none;
}
.filter-item-name
{
  margin-bottom: 7px;
  padding-left: 16px;
  font-size: 14px;
}
.filter-item-box
{
    position: relative;

    border-radius: 15px;
    background: rgba(255, 255, 255, .2);
}
.filter-item-type {
    display: block;
    min-width: 194px;
    max-width: 230px;
    padding: 7px 25px 7px 16px;
    background: #aabab0;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    text-overflow: ellipsis;
}
.list-filter
{
      position: relative;
}
.filter-item-box select
{
    color: #fff;
    background: transparent;
}
.filter-item-box select:hover
{
    padding: 7px 25px 7px 16px;
    color: black;
    background: white;
}
.slider-box
{
  position: relative;
min-height: 36px;
padding-left: 15px;
padding-right: 15px;
background: #aabab0;
border-radius: 20px;
overflow: hidden;
}
.range-slider .background
{
    height: 4px;
    width: 98px;
    margin-left: 35px;
    background: #f8f7f4;
}
.list-filter::after{
      content: '';
      position: absolute;
      top: 15px;
      right: 15px;
      width: 0;
      height: 0;
      border: 4px solid #fff;
      border-bottom-width: 0;
      border-left-color: transparent;
      border-right-color: transparent;
      cursor: pointer;
}
.price-min,
.price-max
{
    font-size: 14px;

    width: 60px;


    color: #fff;
    border: none;
    background: 0 0;
}
.filter-fil-check
{
        padding: 7px 25px 7px 16px;
}
.filter-fat-choise
{
        padding: 7px 25px 7px 16px;

}
.slider-radio[id='btn-slider1']:checked ~ .page-slider-wrapper
{
    background-color: #849d8f;
    background-image: url('../img/index/background-1.png');
    background-repeat: no-repeat;
    background-position: center top;
}
.slider-radio[id='btn-slider2']:checked ~ .page-slider-wrapper
{
    background-color: #8996a6;
    background-image: url('../img/index/background-2.png');
    background-repeat: no-repeat;
    background-position: center top;
}
.slider-radio[id='btn-slider3']:checked ~ .page-slider-wrapper
{
    background-color: #9d8b84;
    background-image: url('../img/index/background-3.png');
    background-repeat: no-repeat;
    background-position: center top;
}
.slider
{
    position: relative;
    min-height: 565px;
    margin-bottom: 4px;
    text-align: center;
    margin: 0 auto 32px;
}
.slider-radio
{
    display: none;
}
#btn-slider1:checked ~ .page-slider-wrapper .slider-controls label[for=btn-slider1],
#btn-slider2:checked ~ .page-slider-wrapper .slider-controls label[for=btn-slider2],
#btn-slider3:checked ~ .page-slider-wrapper .slider-controls label[for=btn-slider3]
{
    background-color: #fff;
}
.slider-controls
{
    font-size: 0;

    position: absolute;
    z-index: 2;
    top: 490px;
    left: 2.3%;
    margin-right: 8px;
}
.slider-controls label
{
    display: inline-block;

    width: 21px;
    height: 21px;
    margin-right: 8px;

    cursor: pointer;
    vertical-align: top;

    border: 2px solid #fff;
    border-radius: 50%;
}
#slide-1,
#slide-2,
#slide-3
{
    display: none;
}
#btn-slider1:checked ~ .page-slider-wrapper #slide-1,
#btn-slider2:checked ~ .page-slider-wrapper #slide-2,
#btn-slider3:checked ~ .page-slider-wrapper #slide-3
{
    display: block;
}
.slider-radio[id='btn-slider1']:checked ~ .page-slider-wrapper #slide-1
{
    display: block;
}
.slider-radio[id='btn-slider2']:checked ~ .page-slider-wrapper #slide-2
{
    display: block;
}
.slider-radio[id='btn-slider3']:checked ~ .page-slider-wrapper #slide-3
{
    display: block;
}
.banner-container
{
    font-size: 18px;
    font-weight: 700;

    display: inline-block;
}
.banner
{
position: relative;
min-height: 229px;
  padding-top: 23px;
  padding-right: 21px;
  padding-bottom: 23px;
  padding-left: 20px;
  border-radius: 15px;
  width: 49%;
}
.banner-bonus-raspberry
{
  float: left;
  background-image: url('../img/index/raspberry_background.jpg');
}
.banner p
{
    margin-top: 20px;
}
.banner-bonus-choco
{
    float: right;
    background-image: url('../img/index/choco_background.jpg');
}
.slider-title
{
    font-size: 60px;
    font-weight: 700;
    line-height: 60.35px;
        width: 700px;

        margin: 0 auto 32px;
    padding-top: 320px;

    text-align: center;
}
.products-item
{
    display: inline-block;

    position:relative;

    max-width: 293px;
    padding: 6px 13px;
    margin-top: 30px;
    margin-bottom: 41px;

    vertical-align: top;
    z-index: 1;

}
.products-item .btn
{
    display: none;
    z-index: 4;
    position: absolute;
    padding: 13px 17px;
    font-size: 18px;
    font-weight: 700;
    bottom: -35px;
    left: 40px;
}
.products-item:hover
{
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    border-radius: 4px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
.products-item:hover .btn
{
    display: block;
}
.products-item:hover .products-item-title
{
    text-decoration: none;
}
.products-item:not(:hover) .products-item-img, .products-item:not(:hover) .products-item-price
{
    z-index: 0;
}

.products-item-img
{
  height: 267px;
  width: 267px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 17px;
}
.hit::before
{
    position: absolute;

    width: 61px;
    height: 61px;

    content: '';

    background: url('../img/index/hit.png') no-repeat;
}
.products-item-price
{
    font-size: 30px;
    font-weight: 700;

    position: absolute;
    bottom: 90px;

    text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}
.products-item-price span
{
    font-size: 45px;
}
.products-item-price .rub
{
    width: 34px;
    height: 37px;
    padding: 0 3px;
    color:transparent;
    background: url('../img/rub_icon.svg') no-repeat 0 10px;
    text-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.products-item-title
{
    line-height: 22px;

    display: inline-block;

    margin-bottom: 19px;
    padding: 0 6px;

    text-align: center;
    vertical-align: middle;
    text-decoration: underline;
}
.products-item-title:hover
{
    text-decoration: none;
}
.about
{
    display: block;
    float: left;

    padding: 20px 20px 15px 19px;

    color: #323232;
    border-radius: 12px;
    background: url('../img/index/seo_background.jpg');

    margin-bottom: 40px;
}
.about h2
{
    font-size: 24px;

    margin-bottom: 13px;
}
.about-item
{
    line-height: 1.4;
    margin-bottom: 10px;
    padding-top: 12px;
    padding-left: 57px;
    width: 48.6%;
}
.about-item-ice
{
    float: left;

    background: url('../img/index/icecream_icon.svg') no-repeat;
}
.about-item-cow
{
    float: right;

    background: url('../img/index/cow_icon.svg') no-repeat;
}
.about-item-leaf
{
    float: left;

    background: url('../img/index/leaf_icon.svg') no-repeat;
}
.about-item-temperature
{
    float: right;

    background: url('../img/index/temperature_icon.svg') no-repeat;
}
.news-suscribe
{
    margin-bottom: 40px;
}
.blog-news
{
    float: left;

    width: 49%;
    min-height: 220px;
    padding-top: 27px;
    padding-left: 16px;

    text-align: left;

    border-radius: 15px;
    background: url('../img/index/blog_background.jpg') no-repeat -30px -220px;
}
.blog-news a
{
    font-size: 24px;
    font-weight: 700;
    display: block;
    max-width: 303px;
    max-height: 100px;
    overflow: hidden;
    text-decoration: underline;

    color: #323232;
}
.blog-news a:hover {
  color: #FFBC9E;
}
.blog-news-title
{
    font-size: 16px;

    color: #5a5a5a;
}
.subscribe
{
    float: right;

    width: 49%;
    min-height: 220px;
    margin-left: 22px;

    border-radius: 15px;
    background: #f8f7f4 url('../img/index/subscribe_background.png');
}
.subscribe-background
{
    margin: 5px;
    padding-top: 27px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom:45px;
    border-radius: 15px;
    background-color: #f8f7f4;
}
.subscribe-background form
{
    margin-top: 40px;
}
.subscribe p
{

    color: #5a5a5a;
}
.subscribe-email
{
      font-size: 16px;
      width: 340px;
      max-height: 44px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      border: 1px solid rgba(178, 178, 178, .5);
      border-radius: 5px;
}
.contacts
{
  position: relative;
  height: 430px;
  width: 1200px;
  margin: 0 auto;
}
.contacts-map
{
  position: absolute;
  height: 430px;
  z-index: 1;
  width: 100%;
  background: url('../img/map.png') no-repeat 0 0;
}
.contacts-info
{
  font-size: 14px;
  position: absolute;
  z-index: 2;
  right: 2.3%;
  max-width: 300px;
  padding: 28px 25px 25px;
  margin-top: 60px;
  margin-bottom: 60px;

  color: #323232;
  border-radius: 15px;
  background-color: #fff;
}
.contacts-info p
{
    display:block;
    margin-bottom: 12px;
}
.contacts-info a
{
    display:block;
    margin-bottom: 5px;
}
.contacts-info strong
{
    display:block;
}
.contacts-tel
{
    font-size: 18px;
    font-weight: 700;

    color: #323232;
}
.page-footer
{
    font-size: 13px;

    padding-top: 20px;
    padding-bottom: 26px;
}
.page-footer-line .wrapper
{
font-size: 13px;
border-top: 1px solid rgba(255, 255, 255, 0.3);

padding-top: 20px;
padding-bottom: 26px;
}
.page-footer-social
{
    float: left;
    margin-left: -50px;
}
.page-footer-social li
{
    display: inline-block;

    margin: auto 4px;

    list-style-type: none;

    vertical-align: top;
}
.social-btn
{
  font-size: 0;

  display: block;

  width: 32px;
  height: 32px;

  border: 3px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  opacity:8;
}
.social-btn:hover
{
  border: 3px solid rgba(255, 255, 255, .7);
  border-radius: 50%;
  opacity:1;
}
.social-btn-twitter
{
background: url('../img/sprite.png') no-repeat -7px -106px;
background-clip: padding-box;
}
.social-btn-instagram
{
background: url('../img/sprite.png') no-repeat -7px -60px;
background-clip: padding-box;
}
.social-btn-facebook
{
background: url('../img/sprite.png') no-repeat -7px -13px;
background-clip: padding-box;
}
.social-btn-vk
{
background: url('../img/sprite.png') no-repeat -7px -153px;
background-clip: padding-box;
}
.footer-link
{
  display: inline-block;

  margin: 15px 0px 20px 200px;
  max-width: 330px;
  padding-left: 22px;

  text-decoration: underline;
  text-align: left;
  background: url('../img/heart_icon.svg') no-repeat 0 3px;
}
.footer-link a {
white-space: nowrap;
}
.footer-link a:nth-child(2) {
margin-left: 32px;
}
.footer-link a:last-child {
margin-left: 33px;
}
.footer-link a:hover {
color: #FFBC9E;
}
.footer-copyright
{
    float: right;

    text-align: left;
}
.footer-copyright p
{
    font-size: 12px;
}
.breadcrumbs
{
    font-size: 14px;
    font-weight: 400;

    position: relative;

    margin-right: 20px;
    margin-left: -40px;

    list-style: none;

    color: #fff;
}
.breadcrumbs li
{
    display: inline-block;
    padding: 0 21px 0 0;
    position: relative;
}
.breadcrumbs li:not(:last-child)::after {
    display: block;
    content: "\00BB";
    position: absolute;
    top: 0px;
    right: 6px;
}
.breadcrumbs a {
  text-decoration: underline;
}
.breadcrumbs a:hover {
  color: #FFBC9E;
}
.products-title {
  margin-top: -10px;
}
.filter-price-control
{
    max-width: 195px;
    margin-bottom: 5px;
    font-size: 14px;
    white-space: nowrap;
    font-size: 14px;
}
.filter-btn {
background-color: rgba(255, 255, 255, .2);
border-radius: 30px;
font-weight: 500;
color:white;
border: 2px solid #fff;
padding: 10px 30px;
line-height: 0.9;
cursor: pointer;
}
.filter-btn:hover {
background-color: rgb(255, 255, 255);
border-radius: 30px;
color:black;
border: 2px solid #fff;
padding: 10px 30px;
font-weight: 500;
line-height: 0.9;
cursor: pointer;
}
.scale
{
position: absolute;
top: 8px;
left: 44px;
width: 20px;
height: 20px;
background: #f8f7f4;
cursor: pointer;
border-radius: 50%;
}
.max-toggle {
    left: 132px;
}
.min-toggle {
    left: 34px;
}

.filter-fat-choise label
{
    position: relative;
    max-width: 750px;
    min-height: 22px;
    margin-bottom: 6px;
    margin-left: 10px;
    padding-left: 29px;
    font-size: 16px;
    vertical-align: top;
    cursor: pointer;
}
.filter-fat-choise label:before
{    content: '';
    position: absolute;
    left: 4px;
    width: 18px;
    height: 18px;
    border: 3px solid #aabab0;
    border-radius: 50%;
    box-shadow: 0 0 0 1.4px #fff;
}
.filter-fat-choise input[type="radio"]
{
    display: none;
}
.filter-fat-choise input[type=radio]:checked+label::before {
    background-color: #fff;
}
.filter-fil-check label
{
  display: inline-block;
    position: relative;
    max-width: 750px;
    min-height: 22px;
    margin-right: 25px;
    padding-left: 30px;
    font-size: 16px;
    cursor: pointer;
    vertical-align: middle;
}
.filter-fil-check label:before
{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  border-radius: 3px;
}
.filter-fil-check input[type=radio]:checked+label::before {
    background: url('../img/sprite.png') no-repeat 5px -416px
}
.filter-fil-check input[type="checkbox"]
{
    display: none;
}
.paginator {
white-space: nowrap;
margin-bottom: 36px;
float: right;
}
.paginator a {
display: inline-block;
text-align: center;
line-height: 25px;
min-width: 25px;
height: 25px;
}
.paginator-active {
border-radius: 50%;
color: #000;
background-color: #f7f6f3;
}
.paginator-control {
text-indent: -10000px;
background: url("../img/sprite.png") no-repeat;
}
.paginator-prev
{
margin-right: 6px;
background-position: -4px -258px;
opacity: 0.2;
transform: rotate(180deg);
}
.paginator-next
{
margin-left: 6px;
background-position: -4px -258px;
}
.paginator-page
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: white;
}
.paginator-active
{
    color: #323232;
}
