html
{
    box-sizing: border-box;
}
*,
*::before,
*::after
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body
{
    font: 400 16px / 20px 'Roboto', 'Arial', sans-serif;

    color: #fff;
    background: #849d8f;
}
a
{
    text-decoration: none;

    color: #fff;
}
strong
{
    font: 700 18px / 22px 'Roboto', 'Arial', sans-serif;
}
p
{
    margin: 0;
    padding: 0;
}
h1
{
    font: 700 35px / 41px 'Roboto', 'Arial', sans-serif;

    max-height: 33px;
    margin: 0;
    margin-bottom: 25px;
    margin-left: 5px;
}
fieldset
{
    margin: 0;
    padding: 0;
}
input
{
    outline: 0;
}
.input,
textarea
{
    height: 44px;
    margin-bottom: 20px;
    padding-top: 9px;
    padding-right: 15px;
    padding-bottom: 9px;
    padding-left: 15px;

    color: #999;
    border: 1px solid rgba(178, 178, 178, .52);
    border-radius: 4px;
    outline: none;
    background-color: #fff;
}
textarea
{
    width: 100%;
    height: auto;

    resize: none;
}
.input:hover,
textarea:hover,
.input:focus,
textarea:focus
{
    padding-top: 9px;
    padding-right: 14px;
    padding-bottom: 8px;
    padding-left: 14px;
}
.input:hover,
textarea:hover
{
    border: 2px solid rgba(178, 178, 178, .5);
}
.input:focus,
textarea:focus
{
    border: 2px solid rgba(46, 136, 228, .52);
}
.input:valid,
textarea:valid
{
    border: 1px solid rgba(178, 178, 178, .52);
}
.input + label,
textarea + label
{
    font: 400 16px / 20px 'Roboto', 'Arial', sans-serif;

    position: absolute;
    left: 41px;

    cursor: text;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
    -webkit-transition-property: font-size, -webkit-transform;
            transition-property: font-size, -webkit-transform;
            transition-property: transform, font-size;
            transition-property: transform, font-size, -webkit-transform;

    color: #b4b4b4;
}
.input:focus + label,
textarea:focus + label
{
    font-size: 11px;

    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);

    color: #8fbdec;
}
.input:valid + label,
textarea:valid + label
{
    font-size: 11px;

    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);

    color: #b4b4b4;
}
.btn
{
    font: 700 18px / 22px 'Roboto', 'Arial', sans-serif;

    display: inline-block;

    padding: 15px 25px;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    color: #fff;
    border: 0;
    border-radius: 30px;
    outline: 0;
    background-color: #e74a35;
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, .64);
}
.btn-large
{
    font: 700 32px / 44px 'Roboto', 'Arial', sans-serif;

    padding: 10px 42px;

    border-radius: 50px;
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, .64);
    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
}
.btn:hover
{
    background-image: linear-gradient(to top, #ec6f5e, #f58669);
    box-shadow: 0 2px 2px 0 #ac1000;
}
.btn:active
{
    background-image: linear-gradient(to top, #e1613e, #d74632);
    box-shadow: inset 0 2px 2px 0 #942718;
}
.wrapper
{
    position: relative;

    width: 1200px;
    margin: 0 auto;
    padding-right: 17px;
    padding-left: 17px;
}
.wrapper::after
{
    display: table;
    clear: both;

    content: '';
}
.clearfix::after
{
    display: table;
    clear: both;

    content: '';
}
.logo
{
    position: relative;

    display: block;
    float: left;

    width: 153px;
    margin-top: 10px;
    margin-right: 17px;
}
.main-nav
{
    float: left;

    margin-top: 21px;
}
.main-nav ul
{
    list-style: none;
}
.main-nav > ul
{
    font-size: 0;
}
.main-nav-item
{
    font: 700 16px / 20px 'Roboto', 'Arial', sans-serif;

    position: relative;

    display: inline-block;

    margin-right: 2px;
    padding-bottom: 5px;

    vertical-align: top;
}

.main-nav-item > a
{
    font-weight: 700;

    display: block;

    padding: 7px 13px;

    color: #fff;
}
.main-nav-list > .active > a
{
    cursor: default;
    text-decoration: none;

    border-radius: 2em;
    background-color: #d07058;
}

.main-nav-item:hover > a
{
    text-decoration: none;

    color: #333;
    border-radius: 2em;
    background-color: #f7f6f3;
}

.main-nav-item:active > a
{
    box-shadow: inset 0 2px 1px dimgrey;
}

.main-nav-item:active > a
{
    background-color: #d07058;
}
.main-nav-item::after
{
    position: absolute;
    top: 25px;
    left: 14px;

    height: 1px;

    content: '';

    background: rgba(255, 255, 255, .2);
}
.main-nav-list .active::after
{
    display: none;
}
.main-nav-item:nth-child(1)::after
{
    width: 60px;
}
.main-nav-item:nth-child(2)::after
{
    width: 142px;
}
.main-nav-item:nth-child(3)::after
{
    width: 91px;
}
.main-nav-item:hover > .main-nav-item::after
{
    background: none;
}
.main-nav-sub
{
    font: 400 14px / 16px 'Roboto', 'Arial', sans-serif;

    position: absolute;
    z-index: 2;
    top: 100%;
    left: -7px;

    display: none;

    padding-bottom: 10px;

    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.main-nav-item:hover .main-nav-sub
{
    display: block;
}

.main-nav-sub span
{
    font-weight: 700;

    position: relative;

    display: block;

    margin: 0 6px 5px 5px;
    padding: 13px 15px;

    color: #323232;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.main-nav-sub a
{
    display: block;

    padding: 7px 20px;

    white-space: nowrap;
    text-decoration: none;

    color: #323232;
}

.main-nav-subitem:hover a
{
    background-color: #fbded7;
}

.main-nav-subitem:active a
{
    background-color: #f6b5a5;
}

.main-nav-subitem.active a
{
    color: #fff;
    background-color: #d07058;
}

.user
{
    float: right;
}
.user-item
{
    position: relative;

    float: left;

    margin-top: 23px;
    margin-left: 10px;
    padding-bottom: 5px;
}
.user-item:last-of-type
{
    margin-right: 14px;
}
.user-item-inner
{
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;

    display: none;

    padding: 20px 15px 20px 15px;

    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}
.user-item:not(.empty):hover .user-item-inner
{
    display: block;
}
.user-item:hover .user-search-btn
{
    background: white url('../img/sprite.png') no-repeat -4px -318px;
}
.user-item .input
{
    font: 400 14px / 16px 'Roboto', 'Arial', sans-serif;

    position: relative;

    width: 100%;
}
.user-item-search .input
{
    width: 311px;
    margin: 0;
}
.user-item-search .input + label
{
    top: 32px;
    left: 30px;
}
.user-item-login a
{
    font: 400 13px / 18px 'Roboto', 'Arial', sans-serif;

    display: block;

    margin-bottom: 8px;

    text-decoration: underline;

    color: #000;
}
.user-item-login a:hover,
.user-item-login a:active
{
    color: #ffbc9e;
}
.user-item-login .input
{
    width: 241px;
}
.user-item-login .input:nth-of-type(1) + label
{
    top: 32px;
    left: 30px;
}
.user-item-login .input:nth-of-type(2) + label
{
    top: 96px;
    left: 30px;
}
.user-item-login .btn
{
    float: left;

    margin-right: 18px;
    padding: 10px 25px;
}
.user-item:hover .user-btn-login
{
    color: #323232;
    background: white url('../img/sprite.png') no-repeat 5px -225px;
}
.user-info
{
    font: 700 14px / 16px 'Roboto', 'Arial', sans-serif;

    display: block;

    margin-top: 72px;
    margin-right: 13px;

    text-align: right;
}
.user-info strong
{
    font: 700 22px / 32px 'Roboto', 'Arial', sans-serif;

    display: block;
}
.user-search-btn
{
    font-size: 0;

    display: block;

    width: 32px;
    height: 32px;

    border-radius: 30px;
    background: rgba(255, 255, 255, .2) url('../img/sprite.png') no-repeat -4px -286px;
}
.user-btn-login
{
    font: 400 14px / 16px 'Roboto', 'Arial', sans-serif;

    display: block;

    padding: 7px 17px 7px 43px;

    border-radius: 30px;
    background: rgba(255, 255, 255, .2) url('../img/sprite.png') no-repeat 5px -191px;
}
.user-btn-basket
{
    font: 400 14px / 16px 'Roboto', 'Arial', sans-serif;

    display: block;

    border-radius: 30px;
    background: rgba(255, 255, 255, .2) url('../img/sprite.png') no-repeat 5px -382px;
}
.user-btn-basket
{
    padding: 7px 16px 7px 45px;
}
.empty .user-btn-basket
{
    padding: 7px 34px 7px 45px;
}
.user-item:not(.empty):hover .user-btn-basket
{
    color: #323232;
    background: white url('../img/sprite.png') no-repeat 5px -416px;
}
.user-item-basket
{
    width: 540px;
    padding: 15px;

    text-align: right;

    color: black;
}
.user-table
{
    font: 400 13px / 16px 'Roboto', 'Arial', sans-serif;

    margin-bottom: 17px;

    text-align: left;

    color: #333;
    border-bottom: 1px solid #cacac7;
}
.user-table-price
{
    color: #999;
}
.user-table td
{
    padding: 12px 5px;
}
.user-table td:nth-child(1)
{
    padding-left: 2px;
}
.user-table td:nth-child(2)
{
    position: relative;

    padding-left: 46px;
}
.user-table td:nth-child(3)
{
    width: 120px;

    text-align: center;
}
.user-table td:nth-child(4)
{
    width: 83px;

    text-align: center;
}
.user-table-link
{
    color: #333;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    border-bottom: none;
}
.user-table-link:hover,
.user-table-link:active
{
    color: #ec593c;
    border-bottom: 1px solid rgba(236, 89, 60, .3);
}
.user-table-delete
{
    font-size: 0;

    position: relative;

    display: block;

    width: 15px;
    height: 15px;

    cursor: pointer;

    border: 0;
    outline: 0;
    background: 0 0;
}
.user-table-delete::before
{
    transform: rotate(45deg);
}
.user-table-delete::after
{
    transform: rotate(-45deg);
}
.user-table-delete::after,
.user-table-delete::before
{
    position: absolute;
    top: 7px;
    left: 0;

    width: 14px;
    height: 1px;

    content: '';

    background-color: #000;
}
.user-table img
{
    position: absolute;
    top: 50%;
    left: 0;

    width: 34px;
    height: 34px;
    margin-top: -17px;

    border-radius: 50%;
}
.user-table-bill
{
    font: 700 15px / 18px 'Roboto', 'Arial', sans-serif;

    margin-right: 11px;
    margin-bottom: 12px;
}
.user-item-basket .btn
{
    float: right;

    padding: 10px 14px;
}
.page-wrapper
{
    background: #849d8f;
}
.cart-field-price
{
    font: 400 15px / 18px 'Roboto', 'Arial', sans-serif;
}
.slider-radio[id='btn-slider1']:checked ~ .page-wrapper
{
    background-color: #849d8f;
    background-image: url('../img/index/background-1.png');
    background-repeat: no-repeat;
    background-position: center top;
}
.slider-radio[id='btn-slider2']:checked ~ .page-wrapper
{
    background-color: #8996a6;
    background-image: url('../img/index/background-2.png');
    background-repeat: no-repeat;
    background-position: center top;
}
.slider-radio[id='btn-slider3']:checked ~ .page-wrapper
{
    background-color: #9d8b84;
    background-image: url('../img/index/background-3.png');
    background-repeat: no-repeat;
    background-position: center top;
}
.slider
{
    position: relative;

    min-height: 532px;

    text-align: center;
}
.slider-radio
{
    display: none;
}
#btn-slider1:checked ~ .page-wrapper .slider-controls label[for=btn-slider1],
#btn-slider2:checked ~ .page-wrapper .slider-controls label[for=btn-slider2],
#btn-slider3:checked ~ .page-wrapper .slider-controls label[for=btn-slider3]
{
    background-color: #fff;
}
.slider-controls
{
    font-size: 0;

    position: absolute;
    z-index: 2;
    top: 84%;
    left: 5px;
}
.slider-controls label
{
    font-size: 0;

    display: inline-block;

    width: 21px;
    height: 21px;
    margin-right: 8px;

    cursor: pointer;
    vertical-align: top;

    border: 2px solid #fff;
    border-radius: 50%;
}
#slide-1,
#slide-2,
#slide-3
{
    display: none;
}
#btn-slider1:checked ~ .page-wrapper #slide-1,
#btn-slider2:checked ~ .page-wrapper #slide-2,
#btn-slider3:checked ~ .page-wrapper #slide-3
{
    display: block;
}
.slider-radio[id='btn-slider1']:checked ~ .page-wrapper #slide-1
{
    display: block;
}
.slider-radio[id='btn-slider2']:checked ~ .page-wrapper #slide-2
{
    display: block;
}
.slider-radio[id='btn-slider3']:checked ~ .page-wrapper #slide-3
{
    display: block;
}
.banner
{
    position: relative;
    z-index: 1;

    margin-bottom: 34px;
}
.banner-bonus
{
    font-size: 0;

    display: inline-block;

    width: 560px;
    padding: 23px 20px;
    padding-bottom: 18px;

    vertical-align: top;

    border-radius: 15px;
}
.banner-bonus-raspberry
{
    margin-right: 24px;
    margin-left: 5px;

    background-image: url('../img/index/raspberry_background.jpg');
}
.banner-bonus-choco
{
    background-image: url('../img/index/choco_background.jpg');
}
.banner-bonus h2
{
    font: 700 35px / 41px 'Roboto', 'Arial', sans-serif;

    overflow: hidden;

    max-height: 40px;
    margin: 0;
    margin-top: -8px;
    margin-bottom: 16px;
    padding: 0;
}
.banner-bonus p
{
    font: 500 18px / 22px 'Roboto', 'Arial', sans-serif;

    overflow: hidden;

    max-height: 66px;
    margin-bottom: 45px;
}
.banner-bonus .btn
{
    float: right;

    margin-bottom: 5px;
    padding: 11px 22px;
}
.slider .btn
{
    position: absolute;
    bottom: 45px;
    left: 50%;

    transform: translateX(-50%);
}
.slider h2
{
    font: 700 60px / 60px 'Roboto', 'Arial', sans-serif;
    line-height: 60px;

    position: absolute;
    bottom: 135px;
    left: 50%;

    width: 670px;

    transform: translateX(-50%);
}
.products
{
    margin-right: -8px;
    margin-left: -8px;
}
.products-item
{
    font-size: 0;

    position: relative;
    z-index: 1;

    display: inline-block;

    width: 289px;
    height: 330px;
    margin-bottom: 32px;
    padding: 6px 13px 0 13px;

    text-align: center;
    vertical-align: top;
}
.products-item:hover
{
    z-index: 2;
}
.products-item::before
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;

    display: none;

    height: 405px;

    content: '';

    border-radius: 5px;
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}
.products-item:hover::before
{
    display: block;
}
.products-item .btn
{
    padding: 10px 16px;
}
.products-item .btn
{
    position: absolute;
    bottom: -60px;
    left: 50%;

    display: none;

    width: 80%;
    padding: 13px;

    transform: translateX(-50%);
}
.products-item:hover .btn
{
    display: block;
}
.products-item:hover .products-item-title
{
    text-decoration: none;
}
.products-item-img
{
    overflow: hidden;

    width: 267px;
    height: 267px;
    margin-bottom: 13px;

    border-radius: 50%;
}
.hit::after
{
    position: absolute;
    top: 6px;
    left: 13px;

    width: 61px;
    height: 61px;

    content: '';

    background: url('../img/index/hit.png') no-repeat;
}
.products-item-price
{
    font: 700 30px / 45px 'Roboto', 'Arial', sans-serif;

    position: absolute;
    top: 210px;
    left: 16px;

    text-shadow: 0 1px 3px rgba(49, 50, 53, .5);
}
.products-item-price span
{
    font: 700 45px / 45px 'Roboto', 'Arial', sans-serif;
}
.products-item-price .rub
{
    width: 34px;
    height: 37px;
    padding: 0 3px;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;

    color: transparent;
    background: url('../img/rub_icon.svg') no-repeat 0 10px;
    text-shadow: none;
}
.products-item-title
{
    font: 500 16px / 20px 'Roboto', 'Arial', sans-serif;
    line-height: 22px;

    display: block;

    max-width: 258px;
    min-height: 39px;
    margin-bottom: 20px;

    text-align: center;
    vertical-align: middle;
    text-decoration: underline;
}
.products-item-title:hover
{
    text-decoration: none;
}
.about
{
    position: relative;

    margin-top: 5px;
    margin-right: 13px;
    margin-bottom: 40px;
    margin-left: 5px;
    padding-top: 20px;
    padding-right: 21px;
    padding-bottom: 9px;
    padding-left: 21px;

    color: #323232;
    border-radius: 20px;
    background: url('../img/index/seo_background.jpg');
}
.about h2
{
    font: 500 24px / 30px 'Roboto', 'Arial', sans-serif;

    margin: 0;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 0;
}
.about-item
{
    line-height: 22px;

    position: relative;

    display: inline-block;

    width: 533px;
    margin-bottom: 16px;
    padding-top: 7px;
    padding-left: 56px;

    vertical-align: top;

    color: #323232;
}
.about-item-ice
{
    margin-right: 30px;
}
.about-item-leaf
{
    margin-right: 30px;
}


.about-item::before
{
    position: absolute;
    top: -6px;
    left: 0;

    width: 48px;
    height: 49px;

    content: '';

    background: #000;
}
.about-item-ice::before
{
    width: 49px;
    height: 49px;

    background: url('../img/index/icecream_icon.svg') no-repeat;
}
.about-item-cow::before
{
    width: 49px;
    height: 49px;

    background: url('../img/index/cow_icon.svg') no-repeat;
}
.about-item-leaf::before
{
    width: 49px;
    height: 49px;

    background: url('../img/index/leaf_icon.svg') no-repeat;
}
.about-item-temperature::before
{
    width: 49px;
    height: 49px;

    background: url('../img/index/temperature_icon.svg') no-repeat;
}
.news
{
    margin-bottom: 40px;
    margin-left: 5px;
}
.news-blog
{
    display: inline-block;

    width: 560px;
    margin-right: 22px;
    padding: 0 21px;
    padding-top: 22px;
    padding-bottom: 79px;

    vertical-align: top;

    border-radius: 15px;
    background: url('../img/index/blog_background.jpg') no-repeat -30px -220px;
}
.news-blog a
{
    font: 700 24px / 30px 'Roboto', 'Arial', sans-serif;
    line-height: 30px;

    display: block;
    overflow: hidden;

    max-width: 303px;
    max-height: 100px;

    text-decoration: underline;

    color: #323232;
}
.news-blog a:hover,
.news-blog a:active
{
    color: #ffbc9e;
}
.news-blog-title
{
    font: 500 16px / 20px 'Roboto', 'Arial', sans-serif;

    margin: 0;
    margin-bottom: 6px;

    color: #5a5a5a;
}
.news-subscribe
{
    position: relative;

    display: inline-block;

    width: 560px;
    padding: 5px;
    padding-right: 4px;
    padding-left: 6px;

    vertical-align: top;

    border-radius: 15px;
    background-color: #f8f7f4;
    background-image: -webkit-repeating-linear-gradient(315deg, #f8f7f4 0px, #f8f7f4 7px, #92cdff 7px, #92cdff 14px, #f8f7f4 14px, #f8f7f4 21px, #ffa08e 21px, #ffa08e 28px);
    background-image:         repeating-linear-gradient(135deg, #f8f7f4 0px, #f8f7f4 7px, #92cdff 7px, #92cdff 14px, #f8f7f4 14px, #f8f7f4 21px, #ffa08e 21px, #ffa08e 28px);
}
.news-subscribe-inner
{
    width: 549px;
    padding: 27px 20px 35px 20px;

    border-radius: 10px;
    background-color: #f8f7f4;
}
.news-subscribe-inner p
{
    line-height: 22px;

    margin-bottom: 33px;

    color: #5a5a5a;
}
.news-subscribe-inner .input
{
    width: 368px;
    margin: 0;
    margin-right: 7px;
}

.news-subscribe-inner .input + label
{
    top: 143px;;
}

.news-subscribe-inner .btn
{
    padding: 11px 19px;

    vertical-align: top;
}
.contacts
{
    position: relative;

    width: 100%;
    height: 430px;
}
.contacts-map
{
    position: relative;
    z-index: 1;

    width: 1200px;
    margin:auto;
    padding:auto;
    height: 430px;

    background: url('../img/map.png') no-repeat 0 0;
}
.contacts-map::before
{
    position: absolute;
    z-index: 1;
    top: 139px;
    left: 266px;

    width: 250px;
    height: 150px;

    content: '';

    background: url('../img/index/map_pin.png') no-repeat;
}
.contacts-info
{
    font: 400 14px / 16px 'Roboto', 'Arial', sans-serif;

    position: absolute;
    z-index: 4;
    right: 2.6%;

    max-width: 300px;
    margin-top: 62px;
    margin-bottom: 62px;
    padding: 32px 25px 25px;

    color: #323232;
    border-radius: 15px;
    background-color: #fff;
}
.contacts-info p
{
    display: block;

    width: 260px;
    margin-bottom: 25px;
}
.contacts-info p:nth-of-type(1)
{
    width: 159px;
    margin-bottom: 9px;
}
.contacts-info strong
{
    display: block;

    margin-bottom: 19px;
}
.contacts-tel
{
    font: 700 18px / 24px 'Roboto', 'Arial', sans-serif;

    display: block;

    margin-top: 8px;
    margin-bottom: 5px;

    color: #323232;
}
.contacts-info .btn
{
    padding: 13px 26px;
}
.page-footer
{
    margin-bottom: 0;
    padding: 0;
}
.page-footer-line
{
    position: relative;
}
.page-footer-line::before
{
    position: absolute;
    top: 0;
    left: 0;

    visibility: visible;

    width: 1200px;
    height: 1px;
    padding-right: 27px;
    padding-left: 27px;

    content: '';

    background: rgba(255, 255, 255, .2);
}
.social
{
    font-size: 0;

    display: inline-block;

    margin-top: 35px;
    margin-right: 219px;
    margin-bottom: 30px;
    margin-left: 3px;
    padding: 0;

    list-style: none;

    vertical-align: top;
}
.social li
{
    font-size: 0;

    display: inline-block;

    margin-right: 7px;
    padding: 3px;

    vertical-align: top;
}
.social-btn
{
    position: relative;
    z-index: 1;

    display: block;

    width: 37px;
    height: 37px;
    margin: 0;
    padding: 0;

    opacity: .8;
    border: 3px solid rgba(255, 255, 255, .5);
    border-radius: 50%;
    background-clip: padding-box;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .5);
}
.social-btn:hover
{
    opacity: 1;
    border: 3px solid rgba(255, 255, 255, .7);
    box-shadow: 0 0 0 1px #dbe3de;
}

.social-btn:active
{
    border: 3px solid rgba(255, 255, 255, .7);
    box-shadow: inset 0 2px 3px 0 #989998;
}
.social-btn-twitter
{
    background: url('../img/sprite.png') no-repeat -4px -104px;
}
.social-btn-instagram
{
    background: url('../img/sprite.png') no-repeat -4px -57px;
}
.social-btn-facebook
{
    background: url('../img/sprite.png') no-repeat -4px -10px;
}
.social-btn-vk
{
    background: url('../img/sprite.png') no-repeat -4px -151px;
}
.page-footer-links
{
    font-size: 0;

    position: relative;

    display: inline-block;

    width: 360px;
    margin: 0;
    padding-top: 37px;
    padding-bottom: 25px;

    vertical-align: top;
}
.page-footer-links a
{
    font: 400 13px / 18px 'Roboto', 'Arial', sans-serif;
    line-height: 1.2;

    position: relative;

    float: left;

    width: 170px;
    margin-bottom: 8px;

    text-decoration: underline;
}

.page-footer-links a:hover::before
{
    position: absolute;
    top: 1px;
    left: -20px;

    width: 15px;
    height: 13px;

    content: '';

    background: url('../img/heart_icon.svg') no-repeat 0 0;
}

.page-footer-links a:hover,
.page-footer-links a:active
{
    font-weight: 700;
    /*border-bottom: 1px solid #a7a294;*/
}
.page-footer-copyright
{
    float: right;

    margin-right: 11px;
    padding-top: 20px;
    padding-bottom: 26px;
}
.page-footer-copyright p
{
    font: 400 12px / 18px 'Roboto', 'Arial', sans-serif;

    margin-top: 5px;
}
.page-footer-copyright a
{
    text-decoration: none;

    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.page-footer-copyright > a
{
    border-bottom: 0;
}
.page-footer-copyright a:hover,
.page-footer-copyright a:active
{
    color: #ffbc9e;
    border-bottom: 1px solid #a7a294;
}
.page-footer-copyright > a:hover,
.page-footer-copyright > a:active
{
    opacity: .7;
    border-bottom: 0;
}
.breadcrumbs
{
    margin: 0;
    margin-top: -18px;
    margin-left: 6px;
    padding: 0;
}
.breadcrumbs li
{
    font: 400 14px / 16px 'Roboto', 'Arial', sans-serif;

    position: relative;

    display: inline-block;

    padding: 0 19px 0 0;

    vertical-align: top;
}
.breadcrumbs li:not(:last-child)::after
{
    position: absolute;
    top: -2px;
    right: 6px;

    display: block;

    content: '\00BB';
}
.breadcrumbs a
{
    text-decoration: none;

    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.breadcrumbs a:hover,
.breadcrumbs a:active
{
    color: #ffbc9e;
    border-bottom: 1px solid #a7a294;
}
.filter
{
    font-size: 0;

    margin-bottom: 17px;
    margin-left: 5px;
}

.filter-item
{
    display: inline-block;

    margin: 0 14px 15px 0;
    padding-left: 0;

    vertical-align: bottom;

    border: 0;
}
.filter legend
{
    font: 500 14px / 16px 'Roboto', 'Arial', sans-serif;

    margin-bottom: 7px;
    padding-left: 16px;
}

.filter label,
.filter option,
.filter select
{
    font: 500 16px / 20px 'Roboto', 'Arial', sans-serif;
}

.filter-item select
{
    width: 194px;
    height: 37px;
    padding-right: 15px;
    padding-left: 15px;

    color: #fff;
    border: 0;
    border-radius: 40px;
    outline: none;
    background: transparent;

        -ms-appearance: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.filter-item select:hover
{
    cursor: pointer;

    color: #323232;
    background-color: #fff;
}

.filter-item option
{
    color: #323232;
}
.select-wrap::after
{
    position: absolute;
    top: 45%;
    right: 6%;

    content: '';
    cursor: pointer;
    pointer-events: none;

    border: 5px solid transparent;
    border-top-color: #fff;
}

.select-wrap:hover::after,
.select-wrap:focus::after
{
    border-top-color: #000;
}
.range-slider
{
    position: relative;

    width: 220px;
    height: 37px;
    padding: 16px;
}

.range-slider-bar
{
    width: 188px;
    height: 4px;

    background-color: rgba(248, 247, 244, .5);
}

.range-slider-bar::before
{
    display: block;

    width: 107px;
    height: 4px;
    margin-left: 22px;

    content: '';

    background: #f8f7f4;
}

.range-slider-toggle
{
    position: absolute;
    top: 8px;

    width: 21px;
    height: 21px;

    cursor: pointer;

    border-radius: 50%;
    background-color: #f8f7f4;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
}

.range-slider-toggle:nth-child(2)
{
    left: 34px;
}

.range-slider-toggle:nth-child(3)
{
    left: 130px;
}

.filter-box
{
    position: relative;

    overflow: hidden;

    border-radius: 40px;
    background-color: rgba(255, 255, 255, .2);
}
.radio-wrap
{
    padding: 9px 29px 4px 0;
}
.checkbox-wrap
{
    padding: 9px 23px 4px 0;
}
.radio-wrap label,
.checkbox-wrap label
{
    margin-top: 10px;
}
input[type='radio'],
input[type='checkbox']
{
    display: none;
}
input[type='checkbox'] + label,
input[type='radio'] + label
{
    position: relative;

    cursor: pointer;
    -webkit-user-select: none;
            user-select: none;
}
input[type='radio'] + label::before,
input[type='checkbox'] + label::before
{
    position: relative;
    top: -5px;

    display: inline-block;

    box-sizing: content-box;
    width: 12px;
    height: 12px;
    margin-right: 15px;
    margin-left: 20px;

    content: '';
    cursor: pointer;
    vertical-align: bottom;

    border: 3px solid #aabab0;
    box-shadow: 0 0 0 1px #f8f7f4;
}

input[type='radio'] + label::before
{
    margin-right: 13px;
    margin-left: 18px;

    border-radius: 50%;
}

input[type='radio']:checked + label::before
{
    background: #f8f7f4;
}

input[type='radio'] + label:hover::before,
input[type='checkbox'] + label:hover::before
{
    box-shadow: 0 0 0 2px #f8f7f4;
}

input[type='radio']:disabled + label::before
{
    background: #b5c4bc;
    box-shadow: 0 0 0 1px #b5c4bc;
}

input[type='checkbox'] + label::before
{
    border-radius: 3px;
}

input[type='checkbox']:checked + label::after
{
    position: absolute;
    top: 5px;
    left: 23px;

    width: 12px;
    height: 7px;

    content: '';
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);

    border: 3px solid #fff;
    border-top: 0;
    border-right: 0;
}

input[type='checkbox']:disabled + label::before
{
    box-shadow: 0 0 0 1px #b5c4bc;
}

input[type='checkbox']:disabled + label::after
{
    border-color: #b5c4bc;
}

.filter-btn
{
    font: 500 16px / 20px 'Roboto', 'Arial', sans-serif;

    width: 144px;
    height: 37px;
    margin-bottom: 15px;

    cursor: pointer;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, .2);
}

.filter-btn:hover
{
    color: #323232;
    background-color: #fff;
}

.filter-btn:active
{
    border: 0;
    background-color: #ededed;
    box-shadow: inset 0 2px 3px 0 #6c6c6c;
}

.paginator
{
    font-weight: 500;

    margin-top: 45px;
    margin-bottom: 30px;

    text-align: right;

    color: #fff;
}

.paginator-page
{
    display: inline-block;

    width: 27px;
    height: 27px;
    padding-top: 4px;

    text-align: center;
    vertical-align: top;
    text-decoration: none;

    color: #fff;
    border-radius: 50%;
}

.paginator-page:hover
{
    color: #fff;
    background-color: rgba(255, 255, 255, .2);
}

.paginator-active,
.paginator-page:hover,
.paginator-page:active
{
    width: 27px;
    height: 27px;

    color: #323232;
    border-radius: 50%;
    background-color: #fff;
}

.paginator-control
{
    font-size: 0;

    position: relative;

    display: inline-block;

    width: 27px;
    height: 27px;

    vertical-align: top;
}

.paginator-prev::before,
.paginator-next::before
{
    position: absolute;

    display: block;

    width: 8px;
    height: 8px;

    content: '';
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);

    border: 2px solid rgba(255, 255, 255, .2);
    border-right: 0;
    border-bottom: 0;
}

.paginator-next::before
{
    top: 11px;
    left: 5px;

    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);

    border-color: #fff;
}
.paginator-prev::before
{
    top: 11px;
    left: 5px;
}
.modal
{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .5);
}
.modal-content
{
    position: relative;
    top: 50%;
    left: 50%;

    display: block;

    width: 478px;
    height: 443px;
    padding: 20px 25px 27px;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    border-radius: 10px;
    background-color: #f8f7f4;
}

.form-feedback-shake
{
    display: block;

    -webkit-animation: shake 1s;
            animation: shake 1s;
}

.form-feedback p
{
    font: 500 24px / 30px 'Roboto', 'Arial', sans-serif;

    margin: 0 0 20px;

    color: #323232;
}

.form-feedback-close
{
    position: absolute;
    top: 16px;
    right: 16px;

    display: block;

    width: 18px;
    height: 18px;
}

.form-feedback-close::before,
.form-feedback-close::after
{
    position: absolute;
    top: 8px;
    left: -2px;

    display: block;

    width: 22px;
    height: 2px;

    content: '';

    background-color: #000;
}

.form-feedback-close::before
{
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.form-feedback-close::after
{
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.form-feedback .input:nth-of-type(1) + label
{
    top: 81px;
}
.form-feedback .input:nth-of-type(2) + label
{
    top: 146px;
}
.form-feedback textarea + label
{
    top: 209px;
}

.form-feedback .input
{
    width: 267px;
}

.form-feedback .btn
{
    float: right;

    padding: 10px 27px;
}
iframe
{
    position: absolute;
    z-index: 2;
    top: 0;

    border: 0;
}
@-webkit-keyframes shake
{
    0%
    {
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
    }
    15%
    {
        -webkit-transform: translateY(55px);
                transform: translateY(55px);
    }
    30%
    {
        -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
    }
    50%
    {
        -webkit-transform: translateY(3px);
                transform: translateY(3px);
    }
    65%
    {
        -webkit-transform: translateY(-3px);
                transform: translateY(-3px);
    }
    80%
    {
        -webkit-transform: translateY(2px);
                transform: translateY(2px);
    }
    100%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}
@keyframes shake
{
    0%
    {
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
    }
    15%
    {
        -webkit-transform: translateY(35px);
                transform: translateY(35px);
    }
    30%
    {
        -webkit-transform: translateY(-15px);
                transform: translateY(-15px);
    }
    50%
    {
        -webkit-transform: translateY(13px);
                transform: translateY(13px);
    }
    65%
    {
        -webkit-transform: translateY(-3px);
                transform: translateY(-3px);
    }
    80%
    {
        -webkit-transform: translateY(2px);
                transform: translateY(2px);
    }
    100%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}
